<ion-view title="Operario, Turno, Puesto">
  
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="submit()" ui-sref="machine">
      Siguiente
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <form name="step1Form" ng-controller="Step1FormCtrl" novalidate>

      <div class="row">
        <div class="col">
          <label class="item item-input item-custom">
            <i class="icon ion-calendar placeholder-icon"></i>
            <input type="date" ng-model="date" ng-change="updateDate()" required>
          </label>
          <div class="item item-message" ng-if="step1Submitted && step1Form.date.$error.required">
            Por favor ingrese fecha. 
          </div>
        </div>
        <div class="col">
          <div  class="item item-toggle">          
            {{shift.key}}
            <label class="toggle toggle-dark">
               <input type="checkbox" ng-model="shift.value" ng-change="updateShiftValue()" required>
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input item-select">
            <div class="input-label">
              Operario
            </div>
            <select ng-model="data.operator" ng-options="operator as operator.name for operator in operators" required></select>
          </label>
           <div class="item item-message" ng-if="step1Submitted && step1Form.operator.$error.required">
            Por favor ingrese fecha. 
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <label class="item item-input item-select">
            <div class="input-label">
              Puesto
            </div>
            <select ng-model="data.puesto" ng-options="puesto as puesto.name for puesto in puestos" required></select>
          </label>
        </div>
        <div class="col">
          <label class="item item-input item-select">
            <div class="input-label">
              Potrero
            </div>
            <select ng-model="data.potrero" ng-options="potrero as potrero.name for potrero in data.puesto.potreros" required></select>
          </label>
        </div>
      </div>

    </form>
  </ion-content>

</ion-view>