<ion-view title="Producción">
    <ion-nav-buttons side="primary">
      <button class="button" ng-click="submit()" ui-sref="services">
          Siguiente
      </button>
    </ion-nav-buttons>
    <ion-content>
      <form name="step2Form" ng-controller="Step2FormCtrl" novalidate>

        <div class="row">
          <div class="col">
            <ion-radio ng-model="choice" ng-value="'Feller'" required>Feller</ion-radio>
          </div>
          <div class="col">
            <ion-radio ng-model="choice" ng-value="'Forwarder'" required>Forwarder</ion-radio>
          </div>
          <div class="col">
            <ion-radio ng-model="choice" ng-value="'Harvester'" required>Harvester</ion-radio>
          </div>
          <div class="col">
            <ion-radio ng-model="choice" ng-value="'Skidder'" required>Skidder</ion-radio>
          </div> 
          <div class="col">
            <ion-radio ng-model="choice" ng-value="'Topador'" required>Topador</ion-radio>
          </div>
        </div>

        <div class="row">
          <div class="col">
             <label class="item item-input item-select" style="height: 54px;">
              <div class="input-label">
                Maquina
              </div>
              <select ng-model="data.maquina" ng-options="machine as machine.name for machine in machines"></select>
            </label>
          </div>
          <div class="col">
            <div class="item item-toggle" ng-show="choice === 'Skidder'"> 
              {{SkidderOption.key}}
              <label class="toggle">
                 <input type="checkbox" ng-model="SkidderOption.value" ng-change="updateSkidderValue()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
            </div>
            <div class="item item-toggle" ng-show="choice === 'Topador'">          
              {{TopadorOption.key}}
              <label class="toggle">
                 <input type="checkbox" ng-model="TopadorOption.value" ng-change="updateTopadorValue()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input">
              <input type="number" ng-model="data.horaInicio" placeholder="Hora Inicio" name="HoraInicio" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="number" ng-model="data.horaFin" placeholder="Hora Fin" name="HoraFin" min="data.horaInicio" required>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input">
              <input type="number" ng-model="data.combInicio" placeholder="Combustible Inicio" name="CombustibleInicio" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="number" ng-model="data.combFin" placeholder="Combustible Fin" name="CombustibleFin" max="data.combInicio" required>
            </label>
          </div>
        </div>

        <div class="row" ng-show="choice === 'Skidder' || choice === 'Topador'">
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Numero de Parcela" ng-model="data.produccion.parcela" name="NumeroParcela">
            </label>
          </div>
        </div>

        <div class="row" ng-show="choice === 'Feller'">
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Cantidad Arboles" ng-model="data.produccion.arboles" name="NumeroArboles">
            </label>
          </div>
        </div>

        <div class="row" ng-show="choice === 'Harvester'">
          <div class="col">
            <label class="item item-input item-select">
              <div class="input-label">
              Tipo
              </div>
              <select ng-model="data.produccion.c.tipo">
                <option ng-repeat="tipo in tipos" value="{{tipo}}">{{tipo}}</option>
              </select>
            </label>
          </div>
          <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Largo" name="Largo" ng-model="data.produccion.c.largo">
          </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Trozas" name="Trozas" ng-model="data.produccion.c.trozas">
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Volumen m3" name="Volumen" ng-model="data.produccion.c.volumen">
            </label>
          </div>
        </div>

        <div class="row" ng-show="choice === 'Forwarder'">
          <div class="col">
            <label class="item item-input item-select">
              <div class="input-label">
              Tipo
              </div>
              <select ng-model="data.produccion.b.tipo">
                <option ng-repeat="tipo in tipos" value="{{tipo}}">{{tipo}}</option>
              </select>
            </label>
          </div>
          <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Largo" name="Largo" ng-model="data.produccion.b.largo">
          </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Extraccion" name="Extraccion" ng-model="data.produccion.b.extraccion">
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Camiones" name="Camiones" ng-model="data.produccion.b.camiones">
            </label>
          </div>
        </div>

      </form>
    </ion-content>
  </ion-view>