<ion-view title="Verificar Ingreso">

    <ion-nav-buttons side="primary">
      <button class="button" ui-sref="home" ng-click="saveWork()">
        Finalizar
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="list">

        <div class="item item-divider">
          PUESTO - OPERARIO - TURNO
        </div>

        <div class="item" ng-if="data.operator">
          <b>Operario:</b> {{ data.operator.name }}
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.puesto">
              <b>Puesto:</b> {{ data.puesto.name }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.potrero">
              <b>Potrero:</b> {{ data.potrero.name }}
            </div>
          </div>
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.date">
              <b>Dia</b> {{ data.date |  date: 'dd/MM/yyyy' }}
            </div>
          </div>
          <div class="col rm-padding">      
            <div class="item" ng-if="data.turno">
              <b>Turno</b> {{ data.turno }}
            </div>
          </div>
        </div>

        <div class="item item-divider">
          PRODUCCION
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.maquina">
              <b>Maquinaria</b> {{ data.maquina.name }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.tarea">
              <b>Tarea</b> {{ data.tarea }}
            </div>
            <div class="item" ng-if="data.subtarea">
              <b>SubTarea</b> {{ data.subtarea }}
            </div>
          </div>
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.horaInicio">
              <b>Hora Inicio</b> {{ data.horaInicio }}
            </div>  
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.horaFin">
              <b>Hora Fin</b> {{ data.horaFin }}
            </div>  
          </div>  
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.combInicio">
              <b>Combustible Inicio</b> {{ data.combInicio }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.combFin">
              <b>Combustible Fin </b> {{ data.combFin }}
            </div>
          </div>
        </div>

        <div class="item" ng-if="data.produccion.parcela">
          <b>Numbero Parcela</b> {{ data.produccion.parcela }}
        </div>

        <div class="item" ng-if="data.produccion.arboles">
          <b>Cantidad Arboles</b> {{ data.produccion.arboles }}
        </div>

        <div class="row rm-padding" ng-if="data.produccion.c">
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.c.tipo">
              <b>Tipo</b> {{ data.produccion.c.tipo }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.c.largo">
              <b>Largo</b> {{ data.produccion.c.largo }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.c.trozas">
              <b>Trozas</b> {{ data.produccion.c.trozas }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.c.volumen">
              <b>Volumen</b> {{ data.produccion.c.volumen }}
            </div>
          </div>
        </div>

        <div class="row rm-padding" ng-if="data.produccion.b">
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.b.tipo">
              <b>Tipo</b> {{ data.produccion.b.tipo }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.b.largo">
              <b>Largo</b> {{ data.produccion.b.largo }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.b.extraccion">
              <b>Extraccion</b> {{ data.produccion.b.extraccion }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.produccion.b.camiones">
              <b>Camiones</b> {{ data.produccion.b.camiones }}
            </div>
          </div>
        </div>

        <div class="item item-divider">
          CONSUMO
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.aceite">
              <b>Aceite Motor</b> {{ data.services.aceite }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.gasoil">
              <b>Gasoil</b> {{ data.services.gasoil }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.hidraulico">
              <b>Hidraulico</b> {{ data.services.hidraulico }}
            </div>
          </div>  
        </div>

        <div class="row rm-padding">
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.radiador">
              <b>Agua Radiador</b> {{ data.services.radiador }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.valvula">
              <b>Valvula</b> {{ data.services.valvula }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="data.services.accad">
              <b>Ac.Cad</b> {{ data.services.accad }}
            </div>
          </div>
        </div>
        
        <div class="row rm-padding">
          <div class="col rm-padding">
            <b>Mecanico</b> {{ data.services.mechanic }}
          </div>
        </div>

        <div class="item item-divider">
          PARADAS
        </div>
        
        <div class="row rm-padding" ng-repeat="stop in data.services.stops">
          <div class="col col-20 rm-padding">
            <div class="item" ng-if="stop.hinicio">
              <b>Hora Inicio</b> {{ stop.hinicio }}
            </div>
          </div>
          <div class="col col-20 rm-padding">
            <div class="item" ng-if="stop.hfin">
              <b>Hora Fin</b> {{ stop.hfin }}
            </div>
          </div>
          <div class="col rm-padding">
            <div class="item" ng-if="stop.motivo">
              <b>Motivo</b> {{ stop.motivo }}
            </div>
          </div>
        </div>

      </div>
    </ion-content>
  </ion-view>