<ion-view title="Servicios">

    <ion-nav-buttons side="primary">
      <button class="button" ng-click="submit()" ui-sref="review">
        Completar
      </button>
    </ion-nav-buttons>
    
    <ion-content>
      
      <form name="step3Form" ng-controller="Step3FormCtrl" novalidate>
      
        <div class="row">
          <h3>Paradas:</h3>
        </div>
        <div class="row" ng-repeat="input in inputs">  
          <div class="col col-20">
            <label class="item item-input">
              <input type="text" placeholder="Inicio" name="NumeroParcela" required>
            </label>
          </div>
          <div class="col col-20">
            <label class="item item-input">
              <input type="text" placeholder="Fin" name="NumeroParcela" required>
            </label>
          </div>
          <div class="col col-50">
            <label class="item item-input">
              <input type="text" placeholder="Motivo" name="NumeroParcela" required>
            </label>
          </div>
          <div class="col col-10">
            <button class="button button-balanced icon ion-plus" ng-if="$index == inputs.length - 1" ng-click="addRow()"></button>
            <button class="button button-assertive icon ion-minus" ng-if="$index != inputs.length - 1" ng-click="removeRow($index)"></button>
          </div>
        </div>

        <div class="row">  
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Aceite Motor" name="AceiteMotor" ng-model="data.aceite" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Gasoil" name="Gasoil" ng-model="data.gasoil" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Hidraulico" name="Hidraulico" ng-model="data.hidraulico" required>
            </label>
          </div>
        </div>

        <div class="row">  
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Agua Radiador" name="AguaRadiador" ng-model="data.radiador" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Valvula" name="Valvula" ng-model="data.valvula" required>
            </label>
          </div>
          <div class="col"></div>
        </div>

      <!--
        <div class="row">  
          <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Otros Descripcion" name="NumeroParcela" required>
            </label>
          </div>
            <div class="col">
            <label class="item item-input">
              <input type="number" placeholder="Otros Valor" name="NumeroParcela" required>
            </label>
          </div>
          <div class="col"></div>
        </div> 
      -->

      </form>
    </ion-content>
  
  </ion-view>