<ion-view title="Configuracion">
    <ion-content>
    <div class="list">
      <label class="item-input item-stacked-label">
        <span class="input-label" style="color: #2CB744;font-size: 14px;font-weight: 400;margin-left:8px;padding-left: 10px">Usuario</span>
      </label>
      <label class="item item-input" style="border-top-width: 0px !important;border-left-width: 0px !important;margin-left: 2%;border-right-width: 0px !important;margin-right: 2%;">
        <span class="input-label">Encargado</span>
        <input type="text" ng-model="user.name">
      </label>
    </div>
    </ion-content>
  </ion-view>